
    
version: "3"
services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    healthcheck:            
        test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
        timeout: 45s
        interval: 10s
        retries: 5
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: dbenergy
      # So you don't have to use root, but you can if you like
      MYSQL_ROOT: root
      # Password for root access
      MYSQL_ROOT_PASSWORD: Dalia-7100
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - 127.0.0.1:3308:3306
      # Where our data will be persisted

      
  demo-be:
    image: backendimage/dalianth
    restart: always
    ports:
      - "44369:443"
    environment:
      - DB_IP=172.0.0.1
      - DB_IP=db
      - DB_PORT=3308
      - DB_ROOT=root
      - DB_PASSWORD=Dalia-7100
      - DB_DBNAME=energy
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
    volumes:
      - ~/.aspnet/https:/https:ro
    # depends_on:
    #   db:
    #     condition: service_healthy


  demo-fe:
    image: frontendimage/3
    ports:
      - "8081:80"
    stdin_open: true


   
